zig-out/
.zig-cache/
*.wasm
!packages/@wterm/core/wasm/wterm.wasm
.DS_Store
node_modules/
.pnpm-store/
dist/
*.tsbuildinfo
.next/
next-env.d.ts
packages/@wterm/core/src/wasm-inline.ts
coverage/
test-results/
src/embedded_assets.zig
src/embedded_asset_files/

# env files
.env*
!.env.example
